{% extends "layout.html" %}
    {% block content %}
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-sm py-5 ">
          <h1 class="display-5 fw-bold">Welcome</h1>
          <img class="rounded float-end" alt="devops" src="https://iconscout.com/illustration/student-doing-meditating-5760531" width="400" height="370"/>
          <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
          <button class="btn btn-primary btn-lg" type="button">Example button</button>
        </div>
      </div>
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-sm py-5 ">
          <h1 class="display-5 fw-bold">DevOps</h1>
          <img class="rounded float-end" alt="devops" src="https://cdni.iconscout.com/illustration/premium/thumb/devops-5756365-4812397.png" width="400" height="370"/>
          <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
          <button class="btn btn-primary btn-lg" type="button">Example button</button>
        </div>
      </div>
    {% endblock %}